* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

nav svg {
    width: auto;
    height: 1.5rem;
    fill: #ff6933;
    color: green;
    stroke: #ff6933;
}

nav img {
  width: auto;
  height: 2rem;
}
nav ul {
  display: flex;
  gap: 70px;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

nav ul li:last-child {
  background: #2c2926;
  padding: 15px 25px;
  border-radius: 50px;
  a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.hero {
  height: 900px;
  background: linear-gradient(rgba(0, 0, 0, 0.3)),
    url("https://prod-website-backend-uploads.s3.eu-west-1.amazonaws.com/hero_image_1_5dd50208c8.jpeg?auto=format&fit=max&w=3840&q=100");
  background-position: center;
  background-size: cover;
  position: relative;
  
}
.hero-text{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px; 
  border-radius: 10px;
}
.hero-text h1{
  font-size: 80px;
}
.hero-text p{
  font-size: 20px;
  line-height: 32px;
  width: 60%;
  font-weight: 600;
  margin: 20px 0px;
}
.hero-text button{
    padding: 20px;
    width: 300px;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    background-color: #ff4401;
    font-weight: 600;
    margin: 20px 0px;
    border: none;

}
.smallcar{
  display: flex;
  margin-bottom: 25%;

}
.smallcar img{
  filter: invert(1) brightness(2);
  margin-right: 10px;
}
.steps-grid {
    display: flex;
    justify-content: space-between;
    gap: 120px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 70%;
    margin-left: 10%;
}


.steps-grid h1 {
  font-size: 2.5rem;
  width: 70%;
}

.steps-grid h1 span {
  color: #ff6933;
}
.steps-grid a{
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  background: #2c2926;
  padding: 15px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.steps-grid .plans {
  display: flex;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  color: #ff6933;
  
}

.steps-grid .plans img {
    margin-bottom: 30px;
}

.steps-grid p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 50px;
}
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
}

.video-overlay h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  width: 40%
}

.video-overlay p {
  font-size: 1rem;
  margin-bottom: 30px;
  width: 40%;
  font-weight: bold;
  color:white
}

.video-overlay button {
  padding: 12px 24px;
  background-color: #ff4401;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;

}
.love{
  color:#ff4401
}
.vehicles{
  display: flex;
  justify-content: center;
  padding: 15% 30px;
  
}
.vinfo h1{
  width: 20%;
  margin-bottom: 20px;
}
.vinfo p{
  width: 100%;
  line-height: 27px;
  font-size: 14px;
  margin-bottom: 20px;
}
.vinfo button{
  padding: 12px 24px;
  background-color:#2c2926;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 12px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  max-width: 170px
}
.vinfo{
  margin-left: 15%;
  gap:50px;
  width: 50%
}
.dream{
  display: flex;
  justify-content: center;
}
.dream h1{
  font-size: large;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  margin-bottom: 10%;
}


.box {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  width: 90px;
  height: 100px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

}
.box img{
  height: 100px;
  width: 50px;

}


.box1 { grid-column: 1; }
.box2 { grid-column: 2; }
.box3 { grid-column: 3; }
.box4 { grid-column: 4; }
.box5 { grid-column: 5; }
.box6 { grid-column: 6; }


.box7 { grid-column: 2; grid-row: 2; }
.box8 { grid-column: 3; grid-row: 2; }
.box9 { grid-column: 4; grid-row: 2; }
.box10 { grid-column: 5; grid-row: 2; }

.impact{
  background-color:#2c2926;
  justify-content: center;
  padding: 5%;
}
.impact h1{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 45px;
 
}
.imp{
  display: flex;
  justify-content: center;
  padding: 5%;
  padding-left: 6%;
}
.impgen{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.impgen p{
  width: 88%;
  text-align: center;
  color:grey;
  line-height: 27px;
  margin: 5% 0;
}
.impgen h1{
  font-size: 70px;
  margin: 5% 0;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  height: 100vh; 
  padding-top: 10%; 
  padding-right: 10%; 
  padding-bottom: 10%; 
}

.orange-bar {
  width: 95%;         
  height: 432px;       
  background-color: #ff4401;
  border-top-right-radius: 250px; 
  border-bottom-right-radius: 250px;
  position: relative; 
}
.overlay-content {
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  
  color: white;
  display: flex;
  
  width: 100%
}

.overlay-content h1 {
  font-size: 40px;
  margin-bottom: 25px;
  width: 90%;
  text-align: none;
}

.overlay-content p {
  font-size: 16px;
  margin-bottom: 30px;
  width: 60%;
  line-height: 27px;
}

.mobile img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.playstore img{
  width: 25%;
  height: auto
}
.overlaytext{
 margin-top: 17%;
}
footer{
  background-color:#2c2926;
  display: flex;
  justify-content: center;
  padding: 1%;
}
.footcontent{
  width: 80%;
  padding: 3%;
  
}
.logos svg {
  width: auto;
  height: 1.5rem;
  fill: #ff4401;
  color: green;
  stroke: #ff4401;
}
.logos2 img{
    width: 20px;
    height: auto;
    margin-top: 15%;

}
.logos2{
  display: flex;
  justify-content: space-between;
  
}
.footlogo{
  display: flex;
  justify-content: space-between;
}
.textlinks a{
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.nig{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 3%;
  color: rgb(70, 69, 69)
}
.nig p{
  font-size: 12px;
}
.nig a{
  margin-right: 10%;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.nig a:hover{
  color:#ff4401;
  transition: 1s ease;
}
.textlinks a:hover{
  color:#ff4401;
  transition: 1s ease;
}

.footpolicy{
  display: flex;
  border-top: 1px solid rgb(69, 68, 68);
  padding: 2% 0%;
  margin-top: 2%;
  justify-content: space-between;
}
.foot2025 p{
  color: rgb(92, 91, 91)
}
.footterms a{
  color: rgb(92, 91, 91);
  text-decoration: none;
  margin-right: 20px;
}







/* media ueryububjg yjbghvbn g hnvv  nvjgvnb vgvn cngv bcgnvvhnvh */
/* media ueryjbubgbyhfbghvbgcgccfgbygvhf tx gfvnc fhgfncvbncgcbnc  */








@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }

  nav ul li {
    display: none; 
  }

  nav ul li:last-child {
    display: block; 
  }

  nav ul {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
  }

  nav img.logo {
    margin-right: auto; 
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  }

  .box1 { grid-column: 1; grid-row: 1;}
  .box2 { grid-column: 2; grid-row: 1;}
  .box3 { grid-column: 3; grid-row: 1;}
  .box4 { grid-column: 4; grid-row: 1;}
  .box5 { grid-column: 5; grid-row: 1;}
  .box6 { grid-column: 1; grid-row: 2;}
  .box7 { grid-column: 2; grid-row: 2; }
  .box8 { grid-column: 3; grid-row: 2; }
  .box9 { grid-column: 4; grid-row: 2; }
  .box10 { grid-column: 5; grid-row: 2; }
 
}
@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    background: none; 
  }

  .hero::before {
    content: "";
    display: block;
    height: 400px;
    background: url("https://prod-website-backend-uploads.s3.eu-west-1.amazonaws.com/hero_image_1_5dd50208c8.jpeg?auto=format&fit=max&w=3840&q=100");
    background-position: center;
    background-size: cover;
    filter: brightness(0.8);
  }

  .hero-text {
    position: static;
    transform: none;
    background-color: #1a1a1a;
    color: white;
    padding: 40px 20px;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 16px;
    width: 50%;
    margin: 20px 0;
    margin-left: 22%;
    align-items: center;
    
  }

  .hero-text button {
    width: 40%;
  }

  .smallcar {
    justify-content: center;
    margin-bottom: 20px;
  }

  .smallcar img {
    margin-right: 10px;
    width: 40px;
  }
}
@media screen and (max-width: 768px) {
  .steps-grid {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px 20px;
    text-align: center;
  }

  .steps-grid h1 {
    font-size: 2rem;
    width: 100%;
  }

  .steps-grid .plans {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px 0;
  }

  .steps-grid .plans img {
    width: 80px; 
    margin: 0 auto 20px;
  }

  .steps-grid p {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .video-container {
    height: auto;
    flex-direction: column;
  }

  .video-background {
    height: auto;
  }

  .video-overlay {
    position: static;
    transform: none;
    
    padding: 20px;
    background-color: #000; 
  }

  .video-overlay h1,
  .video-overlay p {
    width: 50%;
  }
  .video-overlay p{
    color: white;
  }
  .vehicles{
    flex-direction: column;
    padding: 15% 0px
  }

  .vimage img{
    width: 80%;
    height: auto;
    margin-left:5% ;
}
.vinfo{
  margin: 3%;
  margin-bottom: 5%;
}
.box {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;       
  height: 70px;      
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.box:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.2);
}

.box img {
  height: 50px;     
  width: 30px;
  object-fit: contain;
}
.grid-container{
  width: 70%
}
.imp{
  flex-direction: column;
}
.impgen p{
  width: 60%
}

}
@media screen and (max-width: 768px) {
  .container {
    padding: 0;
    
    height: 100vh
  }

  .orange-bar {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    
    
  }
  .overlaytext{
    margin-left: 5%;
  }

  .overlay-content {
    position: static;
    transform: none;
    flex-direction: column-reverse;
    margin-top: -17%;
  }

  .overlaytext h1 {
    font-size: 30px;
    margin-bottom: 20px;
    width: 100%;
  }

  .overlaytext p {
    width: 50%;
    font-size: 16px;
    
  }

  .mobile img {
    width: 40%;
    margin-left: 40%;
    margin-top: -10%;
    
  }

  .playstore img {
    max-width: 25%;
    margin-left: 0%;
    margin-top: 0;
  }
  footer{
    background-color:#2c2926;
    display: flex;
    flex-direction: column;
    padding: 1%;
  }
  .textlinks, .footlogo, .footext{
    display: flex;
    flex-direction: column;
    
  }
  .logos{
  width: 40%}
  .nig{
    align-items: flex-start;
  }
  .textlinks a{
    margin: 3% 0;
  }
  .footpolicy{
    display: flex;
    border-top: 1px solid rgb(69, 68, 68);
    padding: 2% 0%;
    margin-top: 2%;
    flex-direction: column;
  }
  
}
